doctype html
html
  head
    style
      include ../static/style.css

  body
    nav#navbar
        ul
            div#logo
                img(src="/static/my12.jpg")
                | GDA           
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    section#introSection
        div Welcome to gaurav's Dance Academy
        div.small Eat Sleep Dance Repeat
       
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/1.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/2.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/3.png")

                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsSection
        h2  Our Sponsors
        div#sponsors
           img(src="/static/logo1.png", alt="sponsor image", class="spimage")
           img(src="/static/logo2.png", alt="sponsor image", class="spimage")
           img(src="/static/logo3.png", alt="sponsor image", class="spimage")
           img(src="/static/logo4.png", alt="sponsor image", class="spimage")
         
    footer#footer
    |  copyright © 2020 gauravdanceacademy.com | All right reserved
    script
        include ../static/index.js 
           

    